@media (min-width: 986px) {
  html, body, p, h1, h2, h3, h4, a {
    font-family: "Poppins", sans-serif;
    color: #333333;
    padding: 0;
    margin: 0;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .red-btn {
    background: #E41B23;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 20px 65px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 10px 50px rgba(228, 27, 35, 0.5);
            box-shadow: 0 10px 50px rgba(228, 27, 35, 0.5);
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    cursor: pointer;
  }
  .red-btn:hover {
    -webkit-box-shadow: 0 5px 15px rgba(228, 27, 35, 0.4);
            box-shadow: 0 5px 15px rgba(228, 27, 35, 0.4);
  }
  .white-btn {
    background: white;
    color: #E41B23;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 20px 65px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 10px 50px rgba(255, 255, 255, 0.5);
            box-shadow: 0 10px 50px rgba(255, 255, 255, 0.5);
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    cursor: pointer;
  }
  .white-btn:hover {
    -webkit-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
            box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  }
  .showcase {
    background-image: url("../img/showcase-bg.png");
    background-size: cover;
    background-position: bottom left;
    padding: 115px 0;
  }
  .showcase .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .showcase .content .copy {
    width: 50%;
  }
  .showcase .content .copy h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #333333;
    padding: 0;
    margin: 0;
  }
  .showcase .content .copy h2 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 25px 0;
    margin: 0;
  }
  .showcase .content .copy .terms {
    font-size: 0.875rem;
    color: #CCCCCC;
    padding-top: 50px;
    margin: 0;
  }
  .showcase .content .eBook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  .showcase .content .eBook img {
    width: 400px;
  }
  .aboutBook {
    padding: 100px 0;
    margin: 0;
  }
  .aboutBook .aboutSplit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutBook .aboutSplit .aboutLeft {
    width: 50%;
    padding-right: 20px;
  }
  .aboutBook .aboutSplit .aboutRight {
    width: 50%;
    padding-left: 20px;
  }
  .aboutBook h2 {
    font-size: 2.8125rem;
    text-transform: uppercase;
    padding-top: 15px;
    margin: 0;
    padding-bottom: 50px;
  }
  .aboutBook p {
    font-size: 1.125rem;
    line-height: 2.5;
  }
  .aboutBook .testimonial {
    color: #E41B23;
    border-right: 10px solid #333333;
    margin-top: 50px;
    padding-right: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
  }
  .aboutBook .testimonial img {
    width: 75px;
  }
  .whatsInside {
    padding: 100px 0;
  }
  .whatsInside .inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .whatsInside .inside img {
    width: 98px;
  }
  .whatsInside .inside h2 {
    font-size: 2.8125rem;
    text-transform: uppercase;
    width: 400px;
    text-align: right;
    padding-top: 15px;
    margin: 0;
  }
  .whatsInside .inside .insideSplit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .whatsInside .inside .insideSplit h3 {
    font-size: 1.125rem;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .whatsInside .inside .insideSplit h3 img {
    width: 14px;
    padding-right: 15px;
  }
  .onDisplay {
    background: #E41B23;
    padding: 50px 0;
    margin: 0;
  }
  .onDisplay .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .onDisplay .split .left {
    width: 50%;
  }
  .onDisplay .split .left img {
    width: 100%;
    margin-top: -400px;
  }
  .onDisplay .split .right {
    width: 50%;
  }
  .onDisplay .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .onDisplay .stats p {
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0;
    margin-top: -15px;
  }
  .onDisplay .stats .bigWhite {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
  }
  .onDisplay .stats .pages {
    width: 50%;
  }
  .onDisplay .stats .chapters {
    width: 50%;
  }
  .onDisplay .seeInside {
    color: white;
    font-size: 1.125rem;
    line-height: 2.5;
    padding: 50px 0;
  }
  footer {
    background: black;
    padding: 80px 0;
  }
  footer .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .split .portrait {
    width: 50%;
  }
  footer .split .aboutAuthor {
    width: 50%;
  }
  footer .split .aboutAuthor h2 {
    font-size: 1.5rem;
    color: white;
    padding: 0;
    margin: 0;
  }
  footer .split .aboutAuthor p {
    color: white;
    font-size: 1.125rem;
    line-height: 2;
    padding: 25px 0;
  }
  footer .split .aboutAuthor .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
    margin-top: 30px;
  }
  .lightBox {
    position: fixed;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
  }
  .lightBox .box {
    max-width: 670px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    padding-top: 50px;
    margin: 0;
  }
  .lightBox .box p {
    text-align: center;
    padding-bottom: 25px;
  }
  .lightBox .box p span {
    font-weight: 700;
  }
  .lightBox .box .boxContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .lightBox .box .boxContainer p {
    text-align: left;
  }
  .lightBox .box h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .lightBox .box h2 {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
  }
  .lightBox .box .underline {
    text-decoration: underline;
    font-weight: 700;
  }
  .lightBox .box .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .lightBox .box .split .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .lightBox .box .split .left img {
    width: 250px;
  }
  .lightBox .box .split .right {
    width: 50%;
  }
  .lightBox .box .split .right img {
    padding-right: 15px;
  }
  .lightBox .box .split .right p {
    padding: 5px 0;
  }
  .lightBox .box #mc_embed_signup {
    background: #f4f4f4;
    border-radius: 0 0 10px 10px;
    padding: 50px;
    margin: 0;
  }
  .lightBox .box #mc_embed_signup .fine {
    font-size: 0.875rem;
    color: #CCCCCC;
    padding-top: 10px;
    padding-bottom: 0;
  }
  .lightBox .box #mc_embed_signup #mc-embedded-subscribe-form {
    padding: 0;
    margin: 0;
  }
  .lightBox .box #mc_embed_signup #mc-embedded-subscribe-form #mc-embedded-subscribe {
    background: #E41B23;
  }
  .lightBox .box .close {
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
    opacity: 0.5;
  }
  .lightBox .closeBtn {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .lightBox .closeBtn img {
    width: 15px;
    padding: 10px;
  }
}

@media (max-width: 986px) {
  html, body, p, h1, h2, h3, h4, a {
    font-family: "Poppins", sans-serif;
    color: #333333;
    padding: 0;
    margin: 0;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .red-btn {
    background: #E41B23;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 20px 65px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 10px 50px rgba(228, 27, 35, 0.5);
            box-shadow: 0 10px 50px rgba(228, 27, 35, 0.5);
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    cursor: pointer;
  }
  .red-btn:hover {
    -webkit-box-shadow: 0 5px 15px rgba(228, 27, 35, 0.4);
            box-shadow: 0 5px 15px rgba(228, 27, 35, 0.4);
  }
  .white-btn {
    background: white;
    color: #E41B23;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 20px 65px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 10px 50px rgba(255, 255, 255, 0.5);
            box-shadow: 0 10px 50px rgba(255, 255, 255, 0.5);
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    cursor: pointer;
  }
  .white-btn:hover {
    -webkit-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
            box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  }
  .showcase {
    background-image: url("../img/showcase-bg.png");
    background-size: cover;
    background-position: bottom;
    padding: 115px 0;
  }
  .showcase .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 20px;
  }
  .showcase .content .copy {
    width: 80%;
    text-align: center;
  }
  .showcase .content .copy h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #333333;
    padding: 0;
    margin: 0;
  }
  .showcase .content .copy h2 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 25px 0;
    margin: 0;
  }
  .showcase .content .copy .terms {
    font-size: 0.875rem;
    color: #CCCCCC;
    padding-top: 50px;
    margin: 0;
  }
  .showcase .content .eBook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  .showcase .content .eBook img {
    width: 100%;
  }
  .aboutBook {
    padding: 100px 20px;
    margin: 0;
  }
  .aboutBook .aboutSplit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutBook .aboutSplit .aboutLeft {
    width: 100%;
  }
  .aboutBook .aboutSplit .aboutRight {
    padding-top: 25px;
    width: 100%;
  }
  .aboutBook h2 {
    font-size: 2.8125rem;
    text-transform: uppercase;
    padding-top: 15px;
    margin: 0;
    padding-bottom: 50px;
  }
  .aboutBook p {
    font-size: 1.125rem;
    line-height: 2.5;
  }
  .aboutBook .testimonial {
    color: #E41B23;
    border-right: 10px solid #333333;
    margin-top: 50px;
    padding-right: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
  }
  .aboutBook .testimonial img {
    width: 50px;
  }
  .whatsInside {
    padding: 100px 20px;
  }
  .whatsInside .inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whatsInside .inside img {
    width: 98px;
  }
  .whatsInside .inside h2 {
    font-size: 2.8125rem;
    text-transform: uppercase;
    width: 400px;
    padding-top: 15px;
    margin: 0;
  }
  .whatsInside .inside .insideSplit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whatsInside .inside .insideSplit h3 {
    font-size: 1.125rem;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .whatsInside .inside .insideSplit h3 img {
    width: 14px;
    padding-right: 15px;
  }
  .onDisplay {
    background: #E41B23;
    padding: 50px 20px;
    margin: 0;
  }
  .onDisplay .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .onDisplay .split .left {
    width: 100%;
  }
  .onDisplay .split .left img {
    width: 100%;
  }
  .onDisplay .split .right {
    width: 100%;
  }
  .onDisplay .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .onDisplay .stats p {
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0;
    margin-top: -15px;
  }
  .onDisplay .stats .bigWhite {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
  }
  .onDisplay .stats .pages {
    width: 50%;
  }
  .onDisplay .stats .chapters {
    width: 50%;
  }
  .onDisplay .seeInside {
    color: white;
    font-size: 1.125rem;
    line-height: 2.5;
    padding: 50px 0;
  }
  footer {
    background: black;
    padding: 80px 20px;
  }
  footer .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .split .portrait {
    width: 100%;
  }
  footer .split .aboutAuthor {
    width: 100%;
  }
  footer .split .aboutAuthor h2 {
    font-size: 1.5rem;
    color: white;
    padding: 0;
    margin: 0;
  }
  footer .split .aboutAuthor p {
    color: white;
    font-size: 1.125rem;
    line-height: 2;
    padding: 25px 0;
  }
  footer .split .aboutAuthor .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
    margin-top: 30px;
  }
  .lightBox {
    position: fixed;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
  }
  .lightBox .box {
    max-width: 300px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    padding-top: 50px;
    margin: 0;
  }
  .lightBox .box p {
    text-align: center;
    padding-bottom: 25px;
  }
  .lightBox .box p span {
    font-weight: 700;
  }
  .lightBox .box .boxContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .lightBox .box .boxContainer p {
    text-align: left;
  }
  .lightBox .box h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .lightBox .box h2 {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
  }
  .lightBox .box .underline {
    text-decoration: underline;
    font-weight: 700;
  }
  .lightBox .box .split {
    padding: 25px 0;
  }
  .lightBox .box .split .left {
    width: 100%;
  }
  .lightBox .box .split .left img {
    width: 250px;
  }
  .lightBox .box .split .right {
    width: 100%;
  }
  .lightBox .box .split .right img {
    padding-right: 15px;
  }
  .lightBox .box .split .right p {
    padding: 5px 0;
  }
  .lightBox .box #mc_embed_signup {
    background: #f4f4f4;
    border-radius: 0 0 10px 10px;
    padding: 50px;
    margin: 0;
  }
  .lightBox .box #mc_embed_signup .fine {
    font-size: 0.875rem;
    color: #CCCCCC;
    padding-top: 10px;
    padding-bottom: 0;
  }
  .lightBox .box #mc_embed_signup #mc-embedded-subscribe-form {
    padding: 0;
    margin: 0;
  }
  .lightBox .box #mc_embed_signup #mc-embedded-subscribe-form #mc-embedded-subscribe {
    background: #E41B23;
  }
  .lightBox .box .close {
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
    opacity: 0.5;
  }
  .lightBox .closeBtn {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .lightBox .closeBtn img {
    width: 15px;
    padding: 10px;
  }
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */